/* Import Google Fonts: Playfair Display & Source Sans Pro */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@300;400;700&family=Playfair+Display:wght@400;600&family=Roboto+Mono&display=swap');/* 
   Fontes importadas e disponíveis para o projeto:
   font-family: 'Playfair Display', serif;
   font-family: 'IBM Plex Sans Hebrew', sans-serif;
   font-family: 'Roboto Mono', monospace;
*/

:root {
   --dsColor-light-fire: rgb(255, 207, 207);
}

::-webkit-input-placeholder { /* Edge */
   color: #444 !important;
 }
 
 :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #444 !important;
 }
 
 ::placeholder {
   color: #444 !important;
 }

html * {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
a[x-apple-data-detectors] {
   color: inherit !important;
   text-decoration: none !important;
   font-size: inherit !important;
   font-family: inherit !important;
   font-weight: inherit !important;
   line-height: inherit !important;
}
a[href^="tel"]{
   color:inherit;
   text-decoration:none;
}

body {
   background: #fff;
   font-family: 'IBM Plex Sans Hebrew', sans-serif;
   font-weight: 400;
}
body p { font-size: 1.1rem; }
body ul { padding-left: 20px; }
body ul li { font-size: 1.1rem; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-family: 'Playfair Display', serif; }
.mono {font-family: 'Roboto Mono', monospace;}
.cursor-pointer {
   cursor: pointer;
}
hr {
   background: #fff;
}

.bg-pokemon-normal { background: #BABBB4 !important; }
.bg-pokemon-fighting { background: #BABBB4 !important; }
.bg-pokemon-flying { background: #D4ADA9 !important; }
.bg-pokemon-poison { background: #DDAFE2 !important; }
.bg-pokemon-ground { background: #D6CA96 !important; }
.bg-pokemon-rock { background: #D4D5DD !important; }
.bg-pokemon-bug { background: #BACB60 !important; }
.bg-pokemon-ghost { background: #A5A7D6 !important; }
.bg-pokemon-steel { background: #D4D5DD !important; }
.bg-pokemon-fire { background: #F3A07E !important; }
.bg-pokemon-water { background: #82BED8 !important; }
.bg-pokemon-grass { background: #BACB60 !important; }
.bg-pokemon-electric { background: #EFC963 !important; }
.bg-pokemon-psychic { background: #D788A8 !important; }
.bg-pokemon-ice { background: #A6E3F2 !important; }
.bg-pokemon-dragon { background: #278EA4 !important; }
.bg-pokemon-dark { background: #9D9289 !important; }
.bg-pokemon-fairy { background: #EDB1E8 !important; }
.bg-pokemon-unknown { background: #BABBB4 !important; }
.bg-pokemon-shadow { background: #8B90A0 !important; }

.githubBadge {
   position: fixed;
   left: 15px;
   bottom: 15px;
   color: #fff;
   background: #341771;
   width: 50px;
   height: 50px;
   text-align: center;
   font-size: 25px;
   padding-top: 7px;
   border-radius: 50%;
   z-index: 9;
}
.gengar-fixed {
   position: fixed;
   bottom: 15px;
   right: 15px;
   width: 60px;
   z-index: 9;
}

.pokemonCardContainer {
   position: relative;
   background: #fff;
   border-radius: .5em;
   box-shadow: 0 0 3em rgba(0,0,0,.15);
   width: fit-content;
   overflow: hidden;
   max-width: 350px;
}
.pokemonContainerCover {
   padding: 2em 2em;
   padding-top: 2.5em;
}
.pokemonCover {
   position: relative;
}
.pokemonName {
   position: relative;
   z-index: 2;
   opacity: .9;
   font-weight: 600;
}
.pokemonImageContainer {
   width: 100% !important;
   aspect-ratio: 1/1;
}
.pokemonCover .shape:before {
   content: "";
   position: absolute;
   background: rgba(255,255,255, .7);
   box-shadow: 0em 0em 5em #fff;
   width: 70%;
   z-index: 1;
   margin: 0 auto;
   left: 15%;
   border-radius: 50%;
   aspect-ratio: 1/1;
}
.pokemonCover img {
   position: relative;
   z-index: 2;
}
.badge-pokemonNumber {
   background: rgba(255,255,255,.8);
   padding: .4em 1em;
   color: #333;
   font-size: .8em;
   right: -15px;
   position: absolute;
   z-index: 5;
}
.pokemonType {
   letter-spacing: .05em;
}
.badgeType {
   border-radius: 20px;
   padding: .2em .4em;
   width: fit-content;
   background: rgba(255,255,255,.8);
   padding: .4em 1em;
   color: #333;
   font-size: .9em;
}

.pokemonContainerInfo {
   padding: 2em 2em;
   padding-top: 0em;
}
.formHeader {
   position: relative;
}
.pokemonNameOrNumberInput, .pokemonNameOrNumberInput:focus {
   background: rgba(255,255,255,.1) !important;
   position: absolute;
   width: calc(100% - 60px);
   margin-left: 10px;
   margin-top: 10px;
   border: 1px solid rgba(0,0,0,.6);
   outline: none;
   box-shadow: none !important;
   border-radius: 1.5em;
   padding-left: 1.2em;
}
.btn-search {
   position: absolute;
   right: 10px;
   top: 10px;
   color: rgba(0,0,0,.6);
}
.btn-search:hover {
   color: rgba(0,0,0,.9);
   text-shadow: 0 0 1em #fff;
}

.nav-pills .nav-item .nav-link {
   background: none;
   color: rgba(0,0,0,.85);
   padding: 0em .8em;
   font-size: .9em;
}

.nav-pills .nav-item .nav-link.active {
   background: none;
   color: rgba(0,0,0,9);
}
.nav-pills .nav-item .nav-link.active span:before {
   content: "";
   position: absolute;
   width: 5px;
   height: 5px;
   border-radius: 6px;
   display: block;
   background: #fff;
   margin-top: 1.8em;
   margin-left: 10%;
}

/* SWIPER */
.pokemonEvolutionChaisSwiper .swiper-wrapper {
   margin-left: 10%;
}
.pokemonEvolutionChaisSwiper .swiper-slide {
    max-width: 80%;
    margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 8px;
   font-size: 22px;
   font-weight: bold;
   color: rgba(0,0,0,.7);
   background: rgba(255,255,255,.6);
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
   padding: 2em 1em;
   padding-bottom: 1em;
}
.pokemonEvolutionChaisSwiper .swiper-pagination {
   padding-bottom: 10px;
}
.pokemonEvolutionChaisSwiper .swiper-pagination-bullet {
   background: rgba(0,0,0,.8);
}

/* RESPONSIVIDADE */
@media (max-width: 576px) /*, (max-height: 600px) */ {
   .pokemonCardContainer  {
      padding-top: .5em;
      min-width: 100%;
      min-height: 100vh;
      max-height: 100vh;
      overflow-y: scroll;
      border-radius: 0;
      padding-bottom: 2em;
   }
   .formHeader {
      position: fixed;
      width: 100%;
      z-index: 10;
      background-color: rgba(255, 255, 255, 0.3);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      max-width: 100%;
      height: 80px;
      margin-top: -15px;
      padding-top: 15px;
   }
   .btn-search {
      padding-top: 1.35em;
   }
   .containerBlockResponsive {
      padding: 0;
      max-width: 100%;
   }
   .rowBlockResponsive {
      width: 100%;
   }
   .pokemonImageContainer {
      width: 100% !important;
      aspect-ratio: 1/1;
      margin: 0 auto;
   }
   .pokemonContainerInfo {
      height: 100%;
   }
   .pokemonName {
      margin-top: 1em;
   }
   /* Hide scrollbar for Chrome, Safari and Opera */
   .pokemonCardContainer::-webkit-scrollbar {
      display: none;
   }
   /* Hide scrollbar for IE, Edge and Firefox */
   .pokemonCardContainer {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
   }
}
@media (max-height: 500px) {
   .alignItensInitialResponsive {
      align-items: unset !important;
   }
}


/* LOADING */
#loadingPage {
   background: rgba(255,255,255,.95);
   position: fixed;
   width: 100%;
   height: 100vh;
   z-index: 9999;
   top: 0;
   text-align: center;
   padding-top: calc(50vh - 10px);
   /* pointer-events: none; */
   /* display: none; */
}
.dot-align {
   margin: 0 auto;
}
#loadingContainerCard {
   background: rgba(255,255,255,.95);
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 9999;
   top: 0;
   text-align: center;
   padding-top: 80%;
   display: none;
}